<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information Form</title>
</head>
<body>
    <h2>User Information Form</h2>
    <form id="userForm" method="post" action="/store" >
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="favFood">Favorite Food:</label>
        <input type="text" id="favFood" name="favFood" required><br>

        <button type="submit">Submit</button>
    </form>

   
</body>
</html>
